:root {
	--bg-color: hsl(0, 0%, 100%);
	--write-bg: hsl(0, 0%, 100%);
	--link-bg: transparent;
	--mark-bg: hsl(0, 100%, 85%);
	--code-bg: hsl(0, 100%, 95%);
	--codeb-bg: hsl(0, 0%, 95%);
	--quota-bg: hsl(0, 0%, 95%);
	--thead-bg: hsl(0, 0%, 90%);
	--tbody-bg: hsl(0, 0%, 96%);

	--title-color: hsl(0, 0%, 5%);
	--text-color: hsl(0, 0%, 20%);
	--mark-color: hsl(0, 0%, 20%);
	--code-color: hsl(0, 0%, 20%);
	--quota-color: hsl(0, 0%, 35%);
	--codeb-color: hsl(0, 0%, 50%);
	--footer-color: hsl(0, 0%, 50%);
	--link-color: hsl(0, 100%, 75%);

	--md-char-color: hsl(0, 100%, 65%);
	--meta-content-color: hsl(0, 0%, 50%);

	--link-hover: hsl(0, 100%, 65%);
	--thead-hover: hsl(0, 0%, 99%);
	--tbody-hover: hsl(0, 0%, 99%);

	--window-border: 1px solid hsl(0, 0%, 95%);
	--base-border: 1px solid hsl(0, 100%, 65%);
	--base-borderl: 4px solid hsl(0, 100%, 65%);
	--base-borderb: 1px dashed hsl(0, 100%, 65%);
	--opt-borderb: 1px dashed hsl(215, 100%, 65%);

	--base-shadow: 0px 8px 16px hsla(0, 0%, 0%, .2);
	--opt-shadow: 0px 8px 16px 1px hsla(0, 0%, 0%, 0.3);
	--img-shadow: var(--opt-shadow);
	--code-shadow: var(--base-shadow);
	--quota-shadow: var(--base-shadow);

	--base-font: "Poppins", -apple-system, "Noto Sans", "Helvetica Neue", Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "Noto Sans CJK SC", "PingFang SC", "Hiragino Sans GB", "Source Han Sans SC", "Source Han Sans CN", "Microsoft YaHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei, "WenQuanYi Zen Hei Sharp", sans-serif;

	--title-font: "EB Garamond", Georgia, "Nimbus Roman No9 L", "Noto Serif CJK SC", "Songti SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;

	--em-font: "EB Garamond", Georgia, "Nimbus Roman No9 L", "Noto Serif CJK SC"£¬ "Songti SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, serif;

	--quota-font: "EB Garamond", Baskerville, Georgia, "Liberation Serif", "TW-Kai", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", serif;

	--monospace: "Cascadia code", "Sarasa Term SC", Monaco, "Deja Vu Sans Mono", Consolas, "Lucida Console", "Andale Mono", Courier;

	--lishu: "½ðÃ·ÐÂ¼šë`‡øëH´a";
}

@font-face {
    font-family: jetbrain;
    src: url(../font/JetBrainsMono-Regular.ttf);
}

pre, code, pre tt {
    font-family: jetbrain;
    src: url(../font/JetBrainsMono-Regular.ttf);
}

pre.md-fences {
	border-top: 2rem solid var(--mark-color);
	padding: 1rem 0.5rem 1rem;
	display: block;
	-webkit-overflow-scrolling: touch;
	box-shadow: var(--code-shadow);
}

pre.md-fences:before {
	content: ' ';
	background: #fc625d;
	box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
	border-radius: 50%;
	margin-top: -2.3rem;
	position: absolute;
	left: 15px;
	height: 12px;
	width: 12px;
}

pre.md-fences,
code {
	line-height: 1.5rem;
	font-size: .9rem;
	font-weight: 300;
	border-radius: 5px;
	background-color: var(--codeb-bg);
	color: var(--codeb-color);
}

.cm-s-inner .CodeMirror-cursor {
	border-left: solid var(--link-color) !important;
}

/* code style */
code {
	background-color: var(--code-bg);
	color: var(--code-color);
}

kbd,
samp,
tt,
var {
	font-family: var(--monospace);
}